In [1]:
# Creating markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [2]:
# Creating a markdown cell for an introduction

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives**:
* Ordered list of Some of the popular languages that Data Scientists
* Ordered list of Some of the commonly used libraries used by Data Scientists
* Creating a table of Data Science tools
* Evaluating arithmetic expressions in Python
* converting minutes to hours
* Author's Name

In [14]:
# Creating a markdown cell to list data science languages

### Ordered list of Some of the popular languages that Data Scientists use are:

1. Python
2. R.
3. SQL
4. Java
5. Julia
6. Scala
7. Javascript
8. C/C++

In [5]:
# Creating a markdown cell to list data science libraries

### Ordered list of Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Pytorch
4. Sci-kit learn
5. Keras
6. Tensorflow

In [7]:
# Creating a markdown cell with a table of Data Science tools

| **Data Science Tools**|
|---------------------|
|Jupyter Notebook|
|RStudio|
|Ananconda Navigator|
|Visual Studio Code|
|Streamlit|
|Spyder|

In [8]:
# Creating a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers.

In [9]:
(3*4)+5

17

In [15]:
# Creating a code cell to convert minutes to hours

In [12]:
# This will convert 200 minutes to hours by diving by 60.

In [13]:
200/60

3.3333333333333335

## Author
Muhammad Fahad